@charset "UTF-8";

/* CSS Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* My Css Coming Soon Page*/

/* universal declarations */
html {
	background: #FAFAFA url('../images/grey-background-texture.png') repeat-x;
	background-position:0 148px;
	color: #D3E8B1;
	font-family: Arial, sans-serif;
}

body {
	background: transparent url('../images/ideal-logo.png') no-repeat top right;
	width: 644px;
	margin: 25px auto;
	height: 900px;
	position: relative;
}

a, input[type=submit] {
	opacity: 0.85;
}
a:hover, input[type=submit]:hover {
	opacity: 1.0;
}

/* container */

#container {
	position: absolute;
	top: 390px;
	width: 270px;
	left: 185px;
	height: 150px;
	text-align: center;
}

/* social media */

.social-media-icons{
	position: absolute;
	left: 0;
	bottom: 0;
}

.social-media-icons li{
	display: inline-block;
}

.social-media-icons img{
	width: 38px;
	border: none;
}

/* input */

input[type=text] {
	width: 70%;
	display: inline-block;
	margin: 5px 0 7px 0;
	padding: 5px;
	border: 2px solid #6b0202;
	background-color: #500202;
	color:#D3E8B1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

input[type=submit] {
	position: absolute;
	bottom: 8px; 
	right: -26px;
	display: block;
	width:142px;
	height: 45px;
	border: none;
	background: transparent url('../images/subscribe-button.png') no-repeat bottom right;
	cursor: pointer;
	opacity: 0.85;
	text-indent: -3000px;  
	outline: none;
}

input[type=text]:focus {
	-webkit-box-shadow: 0px 0px 8px 0px #D3E8B1;
	-moz-box-shadow: 0px 0px 8px 0px #D3E8B1;
	box-shadow: 0px 0px 8px 0px #D3E8B1;
}

label {
	font-size: 1.05em;
	text-shadow: 1px 1px 0px #000000;
	font-weight: bold;
	display: inline-block;
	width: 20%;
}

/* error message box */

#messageBox {
	display: none;
	position: absolute;
	width: 200px;
	right: -260px;
	top: -20px;
	background-color: rgba(40, 40, 40, 0.8);
	border: 2px solid rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fc7979;
}

#messageBox li{
	width: 200px;
	margin: 15px 0;
}

#messageBox label{
	width: 100%;
}

#load { 
	display: none;
	font-size: 18px;
	color:#d3e8b1;
	text-shadow: #fff 0px -1px 0px;
	font-weight:bold;
	font-weight:800; /*ie style*/
	padding-left: 6px;
	width: 260px;
}

#noAjax { 
	font-size: 18pt;
	color:#d3e8b1;
	text-shadow: #fff 0px -1px 0px;
	font-weight:bold;
	font-weight:800; /*ie style*/
}

#bad_name { 
	position: absolute;
	width: 200px;
	left: 280px;
	top: -8px;
	font-size: 12pt;
	color:#d3e8b1;
	text-shadow: #fff 0px -1px 0px;
	font-weight:bold;
	font-weight:800; /*ie style*/
	margin: 0;
}

#bad_email { 
	position: absolute;
	width: 200px;
	left: 280px;
	top: 32px;
	font-size: 12pt;
	color:#d3e8b1;
	text-shadow: #fff 0px -1px 0px;
	font-weight:bold;
	font-weight:800; /*ie style*/
	margin: 0;
}